{% extends 'base_content.html' %}
{% block title %}
    About Us
{% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center mb-4">
        <h1 class='display-2 text-info'>About MyInvitation</h1>
    </div>
    <h5 class="text-justify mb-4">
        Beginning in early 2020, we at Faze II Productions 
        assembled a team of experienced developers to pioneer 
        new technology to the world of virtual invitations. 
        Guiding us in this nobel endeavor was a question that 
        proved to be paramount to our mission:
    </h5>
    <h4 class="text-center mb-4 text-info font-italic">
        Why pay to create an virtual invitation when we can 
        offer one for free?
    </h4>
    <h5 class="text-justify mb-4">
        And thus began what has been some of the most powerful
        and moving work we have every produced. Similar to the
        (albeit naïve) inception of Facebook, MyInvitation – 
        by way of the innovative development team at Faze II 
        Productions – strives to create a more socially just, 
        verdant, and environmentally responsible world by 
        connecting people via our free, user-friendly virtual 
        invitation platform. 
    </h5>
    <h4 class="text-center mb-4 text-info font-italic">
        Like what you see at MyInvitation?
    </h4>
    <h5 class="text-justify mb-4">
        As an open source platform, we 
        receive no revenue from our users other than the 
        gratification from knowing that our exceptional attention 
        to product detail allows the world to be a warmer, fuzzier place. 
        If you would like to become a patron of this project, please 
        email us at the link below. Provide your name, contact 
        information, and an overview of your personal 
        interests and life aspirations. We will be vetting potential 
        patrons over the next few months on a case-by-case basis.
    </h5>
    <h4 class="text-center">
        <a class="font-italic text-info" href="mailto:irejahjah@gmail.com">patron-request@myinvitation.org</a>
    </h4>
</div>
{% endblock %}