{% extends 'base_content.html' %}
{% block title %}
    Accepted
{% endblock %}
{% block content %}
<div class="container text-center">
    <h1 class="display-2">🤘 Invitation accepted 🤘</h1>
    <h1 class="mb-3 text-info font-italic">An confirmation email has been sent to your inviting party</h1>
    <h2 class="mb-5">Thank you for using MyInvitation!</h2>
    <div class="d-flex justify-content-center mb-5">
        <img src="../static/images/favicon.png" width="300"/>
    </div>
    <div class="d-flex justify-content-center">
        <a href="/success" class="btn btn-outline-info btn-lg">Go Back</a>
    </div>
</div>
{% endblock %}