{% extends 'base_content.html' %}
{% block title %}
    Contact
{% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center mb-4">
        <h1 class='display-2 text-info'>Contact</h1>
    </div>
    <h5 class="text-justify">
        For general information concerning our revolutionary 
        product and to discover how MyInvitation can change 
        your life, please direct your correspondence to
        <a class=" text-info" href="mailto:irejahjah@gmail.com">info@myinvitation.org</a>
    </h5>
    <h5 class="text-justify mt-5">
        For further inquiries into the landmark technologies 
        being developed at Faze II Productions, <br/> please direct your 
        correspondence to  
        <a class=" text-info" href="mailto:irejahjah@gmail.com">doctor.fazor@fazeiiproductions.com</a>
    </h5>
    <div class="d-flex justify-content-center mb-4">
        <img src="../static/images/letter.jpeg" width="300">
    </div>
</div>
{% endblock %}